/*
h2 {
color: #999999;
font-family: arial, sans-serif;
font-size: 16px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
margin-left: 10px;
}
*/
h1 {
    text-align: center;
}
h2 {
    margin-left: 35px;
}
h3 {
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}
h4 {
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}
h5 {
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}
div {
    /*margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    */
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 35px;
}
li {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}